<br />

<p>{% block content %}</p>
<h3>Export Data</h3>
<p>exporting from database</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}</p>
<p>Please select format of file.</p>
<p>    <select name="file-format" class="form-control my-3"><option selected>Choose format...</option><option>CSV</option><option>JSON</option><option>XLS (Excel)</option></select><br />
    <button class="btn btn-primary" type="submit">Export</button><br />
  </form>

  {% endblock %}<br />